<div class="stats">
  <app-stat-title [title]="'Medals per Country'"></app-stat-title>

  <div class="stats-info">
    <app-stat-item 
      [title]="'Numbers of JOs'" 
      [value]="totalJOs.toString() || '0'">
    </app-stat-item>

    <app-stat-item 
      [title]="'Number of Countries'" 
      [value]="totalCountries.toString() || '0'">
    </app-stat-item>
  </div>

  <!-- Affichage du graphique -->
  <div class="chart-container">
    <ngx-charts-pie-chart 
      [view]="[chartWidth, chartHeight]"
      [results]="chartData"
      [labels]="true"
      [legend]="false"
      [tooltipDisabled]="false"
      (select)="onChartClick($event)"
    >
    </ngx-charts-pie-chart>
  </div>
</div>