<div class="stats">
  <h1>Medals per Country</h1>

  <div class="stats-info">
    <div class="stat-item">
      <h2>Numbers of JOs</h2>
      <p>{{ totalJOs }}</p> <!-- Affichage du nombre de JO -->
    </div>

    <div class="stat-item">
      <h2>Number of Countries</h2>
      <p>{{ totalCountries }}</p> <!-- Affichage du nombre de pays -->
    </div>
  </div>

  <!-- Affichage du graphique -->
  <div class="chart-container">
    <ngx-charts-pie-chart 
    [view]="[chartWidth, chartHeight]"
      [results]="chartData"
      [labels]="true"
      [legend]="false"
      [tooltipDisabled]="false"
      (select)="onChartClick($event)" 
    >
    </ngx-charts-pie-chart>
  </div>
</div>

